@charset "utf-8";
/* 头部 START */
.font {
  font-family: "微软雅黑";
}
.font {
  font-family: "微软雅黑";
}
#header .login_nav {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
}
#header .login_nav .login_list {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  text-align: right;
  line-height: 30px;
}
#header .login_nav .login_list .line1 {
  margin: 0 8px;
  color: #838383;
}
#header .login_nav .login_list .line2 {
  margin-left: 7px;
  margin-right: 12px;
  color: #4d4d4d;
}
#header .login_nav .login_list a {
  display: inline-block;
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#header .login_nav .login_list .register {
  margin-left: 12px;
}
#header .login_nav .login_list .appDown {
  padding-left: 18px;
  height: 18px;
  line-height: 18px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 0;
}
#header .search_box {
  width: 1200px;
  margin: 20px auto;
  height: 75px;
  line-height: 75px;
}
#header .search_box .logo {
  float: left;
}
#header .search_box .select_box {
  float: left;
  margin-left: 42px;
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#header .search_box .select_box .select {
  display: inline-block;
  width: 30px;
  height: 20px;
  line-height: 20px;
  background: url(../images/icon_all.png) 0 -32px no-repeat;
  background-position: 10px -26px;
}
#header .search_box .search_form {
  float: left;
  margin-left: 30px;
}
#header .search_box .search_form .input_box {
  width: 480;
  height: 35px;
  line-height: 35px;
  border: 2px solid #ffa130;
  margin-top: 18px;
}
#header .search_box .search_form .search_t {
  padding: 6px 10px;
  width: 400px;
  border: 0;
  *vertical-align: 4px;
}
#header .search_box .search_form .search_s {
  background: #ffa130;
  outline: none;
  border: 0;
  width: 70px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
#header .search_box .manage {
  float: left;
  margin-left: 65px;
  text-align: center;
}
#header .search_box .manage a {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  width: 114px;
  margin-left: 25px;
  border: 2px solid #e0e0e0;
  color: #a5a5a5;
  font-size: 14px;
  font-family: "微软雅黑";
}
#header .search_box .manage .shop_car {
  width: 89px;
  padding-left: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 24px -46px;
}
#header .nav {
  height: 46px;
  width: 100%;
  background: #ffa130;
  text-align: center;
  line-height: 46px;
}
#header .nav a {
  font-family: "微软雅黑";
  display: inline-block;
  color: white;
  font-size: 16px;
  width: 171px;
}
#header .nav a:hover {
  background: #f88f1f;
}
/* 头部 END */
#container {
  margin: 30px auto 86px;
  width: 1200px;
}
#container .sideBar {
  float: left;
}
#container .sideBar ul {
  width: 170px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-top: 0;
}
#container .sideBar ul .sideBar_first {
  border-top: 4px solid #ffa130;
}
#container .sideBar ul li {
  height: 50px;
  line-height: 50px;
}
#container .sideBar ul li a {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666666;
  display: block;
}
#container .sideBar ul li a:hover {
  background: #f88f1f;
  color: white;
}
/* 尾部 START */
#footer {
  height: 80px;
  text-align: center;
  vertical-align: middle;
  background: #f9f0e4;
  padding-top: 40px;
}
#footer a {
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#footer span {
  margin: 0 10px;
  color: #6d6964;
}
#footer p {
  margin-top: 12px;
  color: #5e5e5e;
  font-family: "微软雅黑";
}
/* 尾部 END */
/* 主体 START */
#container {
  margin: 30px auto 86px;
  width: 1200px;
}
#container .wallet_content {
  float: left;
  margin-left: 24px;
}
#container .wallet_content .wallet_top .wallet_top_left {
  float: left;
  width: 675px;
  height: 152px;
  border: 1px solid #e6e6e6;
}
#container .wallet_content .wallet_top .wallet_top_left dl {
  margin: 30px 0 0 28px;
}
#container .wallet_content .wallet_top .wallet_top_left dl dt {
  float: left;
  margin-right: 25px;
}
#container .wallet_content .wallet_top .wallet_top_left dl .member_message {
  padding-top: 15px;
}
#container .wallet_content .wallet_top .wallet_top_left dl .member_message .vip {
  display: inline-block;
  background: url(../images/vip_bg.jpg) no-repeat;
  width: 59px;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-left: 20px;
  position: relative;
  top: -2px;
}
#container .wallet_content .wallet_top .wallet_top_left dl .address {
  margin-top: 15px;
  font-family: "微软雅黑";
  font-size: 14px;
  color: #626262;
}
#container .wallet_content .wallet_top .wallet_top_left dl .address .modified {
  color: #747474;
  font-size: 14px;
}
#container .wallet_content .wallet_top .wallet_top_left dl dd a {
  color: #4e4e4e;
  font-size: 18px;
}
#container .wallet_content .balance {
  float: left;
  width: 298px;
  height: 152px;
  border: 1px solid #e6e6e6;
  margin-left: 25px;
  background: #faf8f4;
}
#container .wallet_content .balance dl {
  margin: 44px 0 0 38px;
}
#container .wallet_content .balance dl dt {
  float: left;
  background: url(../images/wallet.jpg) no-repeat;
  height: 64px;
  width: 62px;
  margin-right: 25px;
}
#container .wallet_content .balance dl .balance_txt {
  padding-top: 15px;
  color: #808080;
  font-size: 14px;
}
#container .wallet_content .balance dl .balance_txt2 {
  color: #0d0d0d;
  font-size: 22px;
}
#container .wallet_content .myOrder {
  height: 21px;
  line-height: 21px;
  margin: 18px 0;
  padding-left: 20px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 -78px;
}
#container .wallet_content .myOrder .order {
  float: left;
  font-size: 16px;
  color: #1a1a1a;
}
#container .wallet_content .myOrder .more {
  float: right;
  margin-right: 26px;
  color: #999999;
  font-size: 14px;
}
#container .wallet_content .order_content {
  height: 185px;
  border: 1px solid #e6e6e6;
}
#container .wallet_content .order_content h2 {
  height: 45px;
  line-height: 45px;
  background: #f5f5f5;
  padding-left: 18px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  color: #666666;
  font-family: "微软雅黑";
}
#container .wallet_content .order_content > div {
  height: 126px;
  margin-top: 5px;
}
#container .wallet_content .order_content .order_details {
  float: left;
  width: 685px;
  border-right: 1px solid #e6e6e6;
}
#container .wallet_content .order_content .order_details dt,
#container .wallet_content .order_content .order_details dd {
  float: left;
}
#container .wallet_content .order_content .order_details dt {
  padding: 15px 10px 10px 10px;
  width: 100px;
  height: 100px;
}
#container .wallet_content .order_content .order_details dd {
  padding-top: 50px;
}
#container .wallet_content .order_content .order_details .goods_details {
  width: 192px;
  margin-left: 10px;
}
#container .wallet_content .order_content .order_details .goods_details a {
  color: #666666;
}
#container .wallet_content .order_content .order_details .goods_count {
  margin-left: 75px;
  margin-right: 115px;
  color: #666666;
}
#container .wallet_content .order_content .order_details .goods_money {
  margin-top: -10px;
}
#container .wallet_content .order_content .order_details .goods_money .goods_pay {
  color: #ef7c4f;
  font-size: 16px;
}
#container .wallet_content .order_content .order_details .goods_money .payment {
  color: #b8b8b8;
  font-size: 13px;
}
#container .wallet_content .order_content .wait_pay {
  float: left;
  width: 158px;
  border-right: 1px solid #e6e6e6;
  text-align: center;
}
#container .wallet_content .order_content .wait_pay p {
  color: #989898;
  font-size: 13px;
}
#container .wallet_content .order_content .wait_pay .wait_s {
  margin-top: 40px;
}
#container .wallet_content .order_content .pay {
  float: left;
  width: 155px;
  text-align: center;
  line-height: 126px;
}
#container .wallet_content .order_content .pay a {
  display: inline-block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
  color: #7a7a7a;
}
#container .wallet_content .collect {
  border: 1px solid  #e6e6e6;
}
#container .wallet_content .collect > div {
  padding: 40px 30px 15px 25px;
  text-align: center;
  float: left;
  width: 194px;
  border-right: 1px solid #e6e6e6;
}
#container .wallet_content .collect .box4 {
  border: 0;
}
#container .wallet_content .collect .box1 .box1_one {
  color: #6e6e6e;
  font-size: 14px;
  font-family: "微软雅黑";
  text-align: center;
}
#container .wallet_content .collect .box1 .box1_two {
  float: left;
  color: #ed601b;
  font-size: 18px;
  margin-left: 10px;
}
#container .wallet_content .collect .box1 .box1_three {
  float: right;
  color: #bfbfbf;
  font-size: 14px;
  margin-right: 10px;
}
#container .wallet_content .collect .box1 .add {
  text-align: center;
  margin-top: 18px;
}
#container .wallet_content .collect .box1 .add a {
  border: 1px solid #e6e6e6;
  width: 75px;
  text-align: center;
  height: 30px;
  color: #acacac;
  line-height: 30px;
  padding-left: 25px;
  display: inline-block;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 11px -109px;
}
/* 主体 END */
/* 尾部 START */
#footer {
  height: 80px;
  text-align: center;
  vertical-align: middle;
  background: #f9f0e4;
  padding-top: 40px;
}
#footer a {
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#footer span {
  margin: 0 10px;
  color: #6d6964;
}
#footer p {
  margin-top: 12px;
  color: #5e5e5e;
  font-family: "微软雅黑";
}
/* 尾部 END */
