@charset "utf-8";
@import "common.less";

.modifiedworld{
	float: left;
	margin-left: 20px;
	p{
		span{
			display: inline-block;
			width:96px;
			height:46px;
			border:1px solid #e6e6e6;
			text-align: center;
			line-height: 46px;
			font-size: 18px;
			color:#4d4d4d;
			.font();
			border-bottom: 0;
		}
	}
	.modifiedworld_content{
		height:362px;
		width:1005px;
		border:1px solid #e6e6e6;
		border-right: 0;
		border-left: 0;
		ul{
			margin-top: 32px;
			li{
				margin-top: 15px;
				input{
					padding:8px;
					width:275px; 
					border:1px solid #e6e6e6;

				}
				.save{
					display: inline-block;
					width:80px;
					height:34px;
					background:#f29525;
					border-radius: 5px;
					text-align: center;
					line-height: 34px;
					color:white;
					font-size: 14px;
					.font();
				}

			}
			.warming{
					color:#a0a0a0;
					font-size: 14px;
					.font();
					
				}
			span{
				color:#7a7a7a;
				font-size:14px;
				.font();
			}
			.newWd{
			margin-left: 14px;
			}

		}
	}
	
}