@charset "utf-8";
.font {
  font-family: "微软雅黑";
}
#header .login_nav {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
}
#header .login_nav .login_list {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  text-align: right;
  line-height: 30px;
}
#header .login_nav .login_list .line1 {
  margin: 0 8px;
  color: #838383;
}
#header .login_nav .login_list .line2 {
  margin-left: 7px;
  margin-right: 12px;
  color: #4d4d4d;
}
#header .login_nav .login_list a {
  display: inline-block;
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#header .login_nav .login_list .register {
  margin-left: 12px;
}
#header .login_nav .login_list .appDown {
  padding-left: 18px;
  height: 18px;
  line-height: 18px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 0;
}
#header .search_box {
  width: 1200px;
  margin: 20px auto;
  height: 75px;
}
#header .search_box .logo {
  float: left;
}
#header .search_box .select_box {
  position: relative;
  float: left;
  vertical-align: middle;
  padding: 2px 0;
  margin-top: 21px;
  margin-left: 42px;
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#header .search_box .select_box:hover .cityNav {
  display: block;
}
#header .search_box .select_box span {
  cursor: pointer;
  font-size: 14px;
  color: #4c4c4c;
}
#header .search_box .select_box span:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 20px;
  background: url(../images/icon_all.png) 0 -32px no-repeat;
  background-position: 10px -22px;
}
#header .search_box .select_box .cityNav {
  display: none;
  position: absolute;
  left: 0;
  background: #fff;
  top: 25px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
}
#header .search_box .select_box .cityNav li {
  height: 28px;
  text-align: center;
  padding: 0 10px;
  line-height: 28px;
  cursor: pointer;
}
#header .search_box .select_box .cityNav li:hover {
  color: white;
  background: #ffa130;
}
#header .search_box .search_form {
  float: left;
  margin-left: 30px;
}
#header .search_box .search_form .input_box {
  width: 480;
  height: 35px;
  line-height: 35px;
  border: 2px solid #ffa130;
  margin-top: 18px;
}
#header .search_box .search_form .search_t {
  padding: 6px 10px;
  width: 400px;
  border: 0;
  *vertical-align: 4px;
}
#header .search_box .search_form .search_s {
  background: #ffa130;
  outline: none;
  border: 0;
  width: 70px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
#header .search_box .manage {
  float: left;
  margin-left: 65px;
  text-align: center;
  margin-top: 20px;
}
#header .search_box .manage a {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  width: 114px;
  margin-left: 25px;
  border: 2px solid #e0e0e0;
  color: #a5a5a5;
  font-size: 14px;
  font-family: "微软雅黑";
}
#header .search_box .manage .shop_car {
  width: 89px;
  padding-left: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 24px -46px;
}
#header .nav {
  height: 46px;
  width: 100%;
  background: #ffa130;
  text-align: center;
  line-height: 46px;
}
#header .nav a {
  font-family: "微软雅黑";
  display: inline-block;
  color: white;
  font-size: 16px;
  width: 171px;
}
#header .nav a:hover {
  background: #f88f1f;
}
#header .nav .navactive {
  background: #f88f1f;
}
/* 头部 END */
/* 尾部 START */
#footer {
  height: 80px;
  text-align: center;
  vertical-align: middle;
  background: #f9f0e4;
  padding-top: 40px;
}
#footer a {
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#footer span {
  margin: 0 10px;
  color: #6d6964;
}
#footer p {
  margin-top: 12px;
  color: #5e5e5e;
  font-family: "微软雅黑";
}
/* 尾部 END */
#governMentalBox {
  background: #f5f5f5;
}
#governMentalBox .gMbox {
  width: 1200px;
  margin: 0 auto;
}
#governMentalBox .gMbox .gMb_sildBar {
  position: relative;
  padding-top: 195px;
  margin-left: 30px;
  float: left;
}
#governMentalBox .gMbox .gMb_sildBar ul {
  float: left;
  width: 70px;
}
#governMentalBox .gMbox .gMb_sildBar ul li {
  height: 50px;
}
#governMentalBox .gMbox .gMb_sildBar ul li a {
  color: #ada099;
}
#governMentalBox .gMbox .gMb_sildBar ul li a:hover {
  color: #eb6926;
}
#governMentalBox .gMbox .gMb_sildBar ul li .activeg1 {
  color: #eb6926;
}
#governMentalBox .gMb_comment {
  margin: 28px 0 50px 60px;
  width: 957px;
  background: white;
  border: 1px solid #e6e6e6;
  padding: 30px 24px;
  float: left;
  position: relative;
  padding-bottom: 80px;
}
.line {
  float: left;
  margin-top: 5px;
  height: 260px;
  width: 2px;
  background: #c0b7b2;
}
.line .point1 {
  display: inline-block;
  position: absolute;
  left: 64px;
  top: 195px;
  width: 25px;
  height: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 -189px;
}
.line .point2 {
  display: inline-block;
  position: absolute;
  left: 64px;
  top: 245px;
  width: 25px;
  height: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 -189px;
}
.line .point3 {
  display: inline-block;
  position: absolute;
  left: 64px;
  top: 295px;
  width: 25px;
  height: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 -189px;
}
.line .point4 {
  display: inline-block;
  position: absolute;
  left: 64px;
  top: 345px;
  width: 25px;
  height: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 -189px;
}
.line .point5 {
  display: inline-block;
  position: absolute;
  left: 64px;
  top: 395px;
  width: 25px;
  height: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 -189px;
}
.line .point6 {
  display: inline-block;
  position: absolute;
  left: 64px;
  top: 447px;
  width: 25px;
  height: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 -189px;
}
.gMb_intro {
  margin: 0 82px;
}
.gMb_intro h1 {
  color: #b5a69d;
  font-size: 14px;
  text-align: center;
}
.gMb_intro .gmI {
  color: #f18555;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.gMb_intro .hr {
  width: 100%;
  size: 1px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  margin-bottom: 40px;
}
.gMb_intro .server_m {
  width: 300px;
  height: 300px;
  margin: 100px auto 0;
  text-align: center;
}
.gMb_intro .server_m .server_txt {
  color: #ffa130;
  font-size: 30px;
  font-weight: bold;
}
.gMb_intro .server_m .server_time {
  color: #b0b0b0;
  font-size: 16px;
  font-family: "微软雅黑";
}
.gMb_intro .server_m .server-phone {
  color: #f88f1f;
  font-size: 20px;
  font-family: "微软雅黑";
  margin-top: 30px;
}
.pointco5 {
  display: inline-block;
  position: absolute;
  left: 64px;
  top: 447px;
  width: 25px;
  height: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: -4px -155px;
}
