@charset "utf-8";
.font {
  font-family: "微软雅黑";
}
#header .login_nav {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
}
#header .login_nav .login_left {
  float: left;
}
#header .login_nav .login_left em {
  color: #4c4c4c;
  font-size: 12px;
  font-family: "微软雅黑";
}
#header .login_nav .login_left .status {
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(../images/icon_all.png) no-repeat;
  background-position: -15px -1028px;
  vertical-align: middle;
}
#header .login_nav .login_nav_box {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
}
#header .login_nav .login_list {
  text-align: right;
  line-height: 30px;
}
#header .login_nav .login_list .line1 {
  margin: 0 8px;
  color: #838383;
}
#header .login_nav .login_list .line2 {
  margin-left: 7px;
  margin-right: 12px;
  color: #4d4d4d;
}
#header .login_nav .login_list a {
  display: inline-block;
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#header .login_nav .login_list .register {
  margin-left: 12px;
}
#header .login_nav .login_list .appDown {
  padding-left: 18px;
  height: 18px;
  line-height: 18px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 0 0;
}
#header .search_box {
  width: 1200px;
  margin: 20px auto;
  height: 75px;
}
#header .search_box .logo {
  float: left;
}
#header .search_box .select_box {
  position: relative;
  float: left;
  vertical-align: middle;
  padding: 2px 0;
  margin-top: 21px;
  margin-left: 42px;
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#header .search_box .select_box:hover .cityNav {
  display: block;
}
#header .search_box .select_box span {
  cursor: pointer;
  font-size: 14px;
  color: #4c4c4c;
}
#header .search_box .select_box span:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 20px;
  background: url(../images/icon_all.png) 0 -32px no-repeat;
  background-position: 10px -22px;
}
#header .search_box .select_box .cityNav {
  display: none;
  position: absolute;
  left: 0;
  background: #fff;
  top: 25px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
}
#header .search_box .select_box .cityNav li {
  height: 28px;
  text-align: center;
  padding: 0 10px;
  line-height: 28px;
  cursor: pointer;
}
#header .search_box .select_box .cityNav li:hover {
  color: white;
  background: #ffa130;
}
#header .search_box .search_form {
  float: left;
  margin-left: 30px;
}
#header .search_box .search_form .input_box {
  width: 480;
  height: 35px;
  line-height: 35px;
  border: 2px solid #ffa130;
  margin-top: 18px;
}
#header .search_box .search_form .search_t {
  padding: 6px 10px;
  width: 400px;
  border: 0;
  *vertical-align: 4px;
}
#header .search_box .search_form .search_s {
  background: #ffa130;
  outline: none;
  border: 0;
  width: 70px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
#header .search_box .manage {
  float: left;
  margin-left: 65px;
  text-align: center;
  margin-top: 20px;
}
#header .search_box .manage a {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  width: 114px;
  margin-left: 25px;
  border: 2px solid #e0e0e0;
  color: #a5a5a5;
  font-size: 14px;
  font-family: "微软雅黑";
}
#header .search_box .manage .shop_car {
  width: 89px;
  padding-left: 25px;
  background: url(../images/icon_all.png) 0 0 no-repeat;
  background-position: 24px -46px;
}
#header .nav {
  height: 46px;
  width: 100%;
  background: #ffa130;
  text-align: center;
  line-height: 46px;
}
#header .nav a {
  font-family: "微软雅黑";
  display: inline-block;
  color: white;
  font-size: 16px;
  width: 171px;
}
#header .nav a:hover {
  background: #f88f1f;
}
#header .nav .navactive {
  background: #f88f1f;
}
/* 头部 END */
#container {
  margin: 30px auto 86px;
  width: 1200px;
}
#container .sideBar {
  float: left;
}
#container .sideBar ul {
  width: 170px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-top: 0;
}
#container .sideBar ul .sideBar_first {
  border-top: 4px solid #ffa130;
}
#container .sideBar ul li {
  height: 50px;
  line-height: 50px;
}
#container .sideBar ul li a {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666666;
  display: block;
}
#container .sideBar ul li a:hover {
  background: #f88f1f;
  color: white;
}
#container .sideBar ul li .sideBaractive {
  background: #f88f1f;
  color: white;
}
/* 尾部 START */
#footer {
  height: 80px;
  text-align: center;
  vertical-align: middle;
  background: #f9f0e4;
  padding-top: 40px;
}
#footer a {
  color: #4d4d4d;
  font-family: "微软雅黑";
}
#footer span {
  margin: 0 10px;
  color: #6d6964;
}
#footer p {
  margin-top: 12px;
  color: #5e5e5e;
  font-family: "微软雅黑";
}
/* 尾部 END */
.payMessage_top {
  background: #fef6ed;
  width: 100%;
  height: 76px;
  padding: 22px  0 22px 0;
  margin-bottom: 20px;
}
.payMessage_top p {
  font-size: 16px;
  padding-left: 30px;
  color: #666666;
  font-family: "微软雅黑";
  margin-bottom: 20px;
}
.payMessage_top span {
  padding-left: 30px;
}
.payMessage_top a {
  width: 102px;
  height: 32px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  border-radius: 5px;
}
.payMessage_top .pay {
  background-color: #26c08a;
  color: white;
}
.payMessage_top .unpay {
  background-color: #fef6ed;
  border: 1px solid #999999;
  margin-left: 26px;
}
.payMessage_mid {
  width: 100%;
  border: 1px solid #eaeaea;
}
.payMessage_mid h2 {
  padding: 13px 0 13px 15px;
  border-bottom: 1px solid #e5e5e5;
  color: #4d4d4d;
  font-size: 16px;
  font-family: "微软雅黑";
}
.payMessage_mid .nav_list {
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}
.payMessage_mid .nav_list li {
  float: left;
  text-align: center;
}
.payMessage_mid .nav_list .one {
  width: 27.7%;
}
.payMessage_mid .nav_list .two {
  width: 16%;
}
.payMessage_mid .nav_list .three {
  width: 11.8%;
}
.payMessage_mid .nav_list .four {
  width: 13.7%;
}
.payMessage_mid .nav_list .five {
  width: 13.5%;
}
.payMessage_mid .nav_list .six {
  width: 15%;
}
.payMessage_mid .list_qx {
  height: 140px;
  text-align: center;
}
.payMessage_mid .list_qx li {
  display: inline-block;
  vertical-align: middle;
  font-family: "微软雅黑";
  font-size: 14px;
}
.payMessage_mid .list_qx .one {
  width: 27.7%;
}
.payMessage_mid .list_qx .one img {
  margin-top: 17px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.payMessage_mid .list_qx .one em {
  display: inline-block;
  float: left;
}
.payMessage_mid .list_qx .one p {
  font-family: "微软雅黑";
  float: left;
  width: 200px;
  display: inline-block;
  margin-top: 30px;
  color: #4d4d4d;
  font-size: 14px;
}
.payMessage_mid .list_qx .two {
  width: 16%;
  line-height: 140px;
  color: #acacac;
  font-size: 14px;
}
.payMessage_mid .list_qx .three {
  width: 11.8%;
  line-height: 140px;
  color: #666666;
}
.payMessage_mid .list_qx .four {
  width: 13.7%;
  color: #737373;
}
.payMessage_mid .list_qx .four p {
  color: #cfcfcf;
}
.payMessage_mid .list_qx .five {
  width: 13.5%;
  line-height: 140px;
  color: #4d4d4d;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.payMessage_mid .list_qx .six {
  width: 15%;
  color: #737373;
  margin-left: 0;
  margin-right: 0;
}
.payMessage_mid .list_qx .six p {
  color: #b4b4b4;
}
.payMessage_mid .money {
  height: 78px;
  line-height: 78px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
  padding-right: 45px;
  font-size: 14px;
  color: #4d4d4d;
  font-family: "微软雅黑";
}
.payMessage_mid .money span {
  color: #ed601b;
  font-size: 18px;
}
.message {
  width: 100%;
  margin-bottom: 35px;
}
.message h2 span {
  display: inline-block;
  color: #737373;
  font-family: "微软雅黑";
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
}
.message ul {
  padding: 10px 0 10px 10px;
  border: 1px solid #e6e6e6;
}
.message ul li {
  color: #737373;
  font-size: 14px;
  margin-bottom: 24px;
  font-family: "微软雅黑";
}
.message ul .fonts {
  color: #4d4d4d;
  font-family: "微软雅黑";
  font-weight: bold;
}
.message ul .tea {
  width: 658px;
  height: 60px;
  border: 1px solid  #e6e6e6;
  resize: none;
  outline: 0;
  margin-left: 30px;
  overflow: hidden;
}
.message ul .remark {
  display: inline-block;
  vertical-align: top;
}
